<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model structure schema</title>
</head>
<body>
{% load static %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Model structure schema</h1>
                <img src="{% static 'schema.png' %}" width='1000px', heigth='1000px', alt="Model structure schema">
            </div>
        </div>
    </div>

</body>
</html>