<nav class=" bg-gray-800">
    <div class="container p-6 mx-auto">
        <div>


        </div>
        <div class="flex items-center justify-center mt-6 text-gray-300 text-gray-300">
            <a href="#" class="border-b-2 border-transparent hover:text-gray-300 hover:border-blue-500 mx-1.5 sm:mx-6">Home</a>

            <a href="#" class="border-b-2 border-transparent hover:text-gray-300 hover:border-blue-500 mx-1.5 sm:mx-6">Hotels</a>

            <a href="#" class="border-b-2 border-transparent hover:text-gray-300 hover:border-blue-500 mx-1.5 sm:mx-6">Contact</a>
            <div class="right">
                <a href="#" class="border-b-2 border-transparent hover:text-gray-300 hover:border-blue-500 mx-1.5 sm:mx-6 right">Login</a>
            </div>
        </div>
    </div>
</nav>