<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Maykin Booking</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
  </head>
  <body>
    {% include 'header.html' %}

    <h1 class="font-bold text-center text-3xl pt-2">Maykin Booking</h1>

    <p class="p-4">
      Maykin Booking is een site waar jij je hotel kan boeken in de favoriete en
      bekende steden! Je kan terecht bij Maykin Media als je zo goedkoop
      mogelijk een hotel wilt boeken. Wij hebben een groot aanbod aan hotels in de randsteden en meer! 
    </p>

    <div class="flex justify-center" style="height: 350px">
      <!-- Table Series -->
      <div class="col-span-12 h-screen">
        <div class="overflow-auto lg:overflow-visible">
          <table
            class="table text-whiteborder-separate space-y-6 text-sm"
          >
            <thead class="bg-gray-800 text-white">
              <tr>
                <th class="p-3 w-48">Steden</th>
                <th class="p-3 w-48">Detail</th>
              </tr>
            </thead>

            {% for item in data %}
            <tbody>
              <tr class="bg-gray-800">
                <td class="p-3">
                  <div class="flex align-items-center">
                    <div class="ml-3">
                      <div class="font-bold text-white">{{ item.city_name }}</div>
                    </div>
                  </div>
                </td>
   {% comment %} <td class="p-3 pl-8 font-bold">{{ item. }}</td>
                <td class="text-white pl-2 pr-2">
                  <a href="{% url 'stad' item.city_name %}"
                    >Bekijk Details</a
                  >
                </td>  {% endcomment %}

                {% comment %} <td class="text-white pl-2">
                  <a href="{% url 'updateserie' serie.id %}">Update</a>
                </td>

                <td class="text-white pl-2">
                  <a href="deleteserie/{{ serie.id }}">Delete</a>
                </td> {% endcomment %}
              </tr>
            </tbody>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>

    {% include 'footer.html'%}
  </body>
</html>
