<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Maykin Booking</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
  </head>
  <body>
    {% include 'components/header.html' %}

    <h1 class="font-bold text-center text-3xl p-2">Maykin Booking</h1>

    <p class="text-center text-wrap p-4">
      Maykin Booking is een site waar jij je hotel kan boeken in de favoriete en
      bekende steden! Je kan terecht bij Maykin Media als je zo goedkoop
      mogelijk een hotel wilt boeken. Wij hebben een groot aanbod aan hotels in de randsteden en meer! 
    </p>

    <div class="flex justify-center" style="height: 350px">
      <!-- Table Series -->
      <div class="col-span-12 h-screen">
        <div class="overflow-auto lg:overflow-visible">
          <table
            class="table text-whiteborder-separate space-y-6 text-sm"
          >
            <thead class="bg-gray-800 text-white">
              <tr>
                <th class="p-3 w-48">Steden</th>
                <th class="p-3 w-48">Detail</th>
              </tr>
            </thead>

            {% comment %} Hier loop ik door de database Data heen om alle stad namen te krijgen. {% endcomment %}
            {% for item in data %}
            <tbody>
              <tr class="bg-gray-800">
                <td class="p-3">
                  <div class="flex align-items-center">
                    <div class="ml-3">
                      <div class="font-bold text-white">{{ item.city_name }}</div>
                    </div>
                  </div>
                </td>
                <td class="text-white pl-2 pr-2 text-center">
                  <a href="{% url 'stad' item.city_name %}"
                    >Bekijk Details</a
                  >
                </td> 
              </tr>
            </tbody>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>

<div class="flex flex-col">
  <span>Click on me if you want to see the model structure of Maykin Booking!</span>

  <a href="{% url 'database_schema'%}" class="w-auto">
    <button type="button" class="px-5 py-3 w-auto text-base font-medium text-center text-white bg-blue-700 rounded-lg 
    hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mb-4">
    Model structure</button>
  </a>
</div>
  
    {% include 'components/footer.html'%}
  </body>
</html>
