<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order | Maykin Booking</title>
    <script src="https://cdn.tailwindcss.com"></script>

    
</head>
<body>
    
    {% include 'components/header.html' %}

<div class="w-full p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 ">
        <h5 class="mb-2 text-3xl font-bold text-gray-900 ">Order your stay at {{hotel.name}}</h5>
        <p class="mb-5 text-base text-gray-500 sm:text-lg">[Terms and conditions]</p>
</div>

{% block content %}
<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
<form action="" method="post">{% csrf_token %}
<table>
{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {{ form.as_table }}
    {% endfor %}
{% else %}
    {{ wizard.form }}
{% endif %}
</table>
{% if wizard.steps.prev %}
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
{% endif %}
<input type="submit" value="{% trans "submit" %}"/>
</form>
{% endblock %}


    {% include 'components/footer.html' %}
</body>
</html>