<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{data.0.city.city_name}} | Maykin booking</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
  </head>
<body>
    {% include 'components/header.html'%}


<div class="flex flex-wrap w-auto flex items-center justify-center">
    {% for hotel in data%}
    <div class="h-full w-auto border  border-gray-700 px-2 m-4 hover:bg-sky-400 font-bold">
        <img src="{{hotel.hotel_image}}" alt="">
        <h1 class="">Hotel: {{hotel.hotel_name}}</h1>
        <p>Stad: {{hotel.city.city_name}}</p>
        <p>{{hotel.hotel_id}}</p>
    </div>
    {% endfor %}
</div>

<div class="pagination">
  <span class="step-links">
      <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_previous %}
      <br>
      <br>
      <a href="?page=1">&laquo; First</a>
      <a href="?page={{ page_obj.previous_page_number }}" class="pl-2">Previous</a>
      {% endif %}

      <br>
      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">Next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}" class="pl-2">Last &raquo;</a>
      {% endif %}
  </span>
</div>

    {% include 'components/footer.html'%}

</body>