<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Success - Maykin Booking!</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>
<body>
    {% include 'components/header.html'%}
    <h1 class="text-3xl text-center font-bold my-8">Je order is geplaatst!</h1>
<div class="flex">
    <div>
        <a href="#" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100">
            <img class="object-cover rounded-t-lg  md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="/media/{{order.hotel.image}}" alt="">
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 d">{{order.hotel.name}}</h5>
                <p class="mb-3 font-normal text-gray-700 ">{{order.hotel.description}}</p>
            </div>
        </a>
    </div>

    <div class="ml-24">
        <a href="#" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100">
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 d">Order nummer: #{{order.id}}</h5>
                <p class="mb-3 font-normal text-gray-700 ">Room type: {{order.room}}</p>
                <p class="mb-3 font-normal text-gray-700 ">Total costs: {{order.total_price}}</p>
                <p class="mb-3 font-normal text-gray-700 ">In check datum: {{order.start_date}}</p>
                <p class="mb-3 font-normal text-gray-700 ">First- and lastname: {{order.first_name}} {{order.last_name}}</p>
                <p class="mb-3 font-normal text-gray-700 ">Klopt er iets niet aan je gegevens? Wees dan vrij om contact met ons op te nemen!</p>
            </div>
        </a>
    </div>
</div>

    {% include 'components/footer.html' %}
</body>
</html>